#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
    padding: 2em;

}

.read-the-docs {
  color: #888;
}

header{
  background-color: rebeccapurple;
  display: flex;
  padding: .5rem;
}

.left-header{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

header >ul{
  display: flex;
  list-style: none;
  color: white;

  
}

header >ul>li{
  padding: .5rem;
}

.reactfact{
  color: chartreuse;
}

main ul>li{
  block-size: 2rem;
}

main>ul>li::marker{
  color: chartreuse;
}

.pro1{
  background-color: aquamarine;
}

.contact-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.rbnb-header{
  display: flex;
  justify-content: space-between;
}

nav>ul{
  list-style: none;
  display: flex;
  gap: 1rem;
}

.pic {
  width: 200px;
  padding: 1rem;
}

.images{
  margin: 0 auto;
}
.images img{
  border-radius: 1rem;
}

.starimg{
  max-width: 30px;
}

.card img{
  width:100%;
  border-radius: .5rem;
}
.card{
  box-shadow: 5px 5px 3px gray;
  max-width: 250px;
  display: flex;
  position: relative;
  border-radius: .5rem;
  
}
.name-rating{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rate-img{
  display: flex;
  align-items: center;
}

.bage-content{

  position: relative;
  width: 70px;
  height: 20px;
  top: 2.5rem;
  left: 1rem;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color:green;
  font-size: 10px;

}

.car{
 margin-top: 4rem;
  display: flex;
  gap: 1rem;
}